
.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    max-width: 25%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 3px;
    margin-right: 20px;
}

.card__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 20px;
}

.card__item {
    display: flex;  
}

.card__image {
    max-height: 70px; 
    max-width: 70px; 
    border-radius: 7px;
}

.card__title {
    padding: 0 20px;
    font-size: 21px;
    font-weight: bold;
}

.button { 
    width: 100%;
    height: 30px;
    background-color:#FFA500;
    color:#ffffff;
    border-radius: 3px;
    border: none;
    font-size: 16px;
    margin-top: 10px;
}

.card__text {
    padding-top: 50px;
}

.card__text--grey {
    padding-bottom: 10px;
}

.card__text--normal {
    color:#383838;
    padding-bottom: 10px;
}

.card__text--blue {
    color: #1460e2;
    font-weight: bold;
    padding-bottom: 10px;
    border: 1px solid #1460e2;
    border-radius: 3px;
    padding: 3px;
    width: 46px;
    text-align: center;
}

.card__text--big{
    color:#383838;
    font-size: 36px;
}

.card__text--content {
    float: right;
    text-align: right;
}

.card__text--small {
    font-size: 14px;
    color:#383838;
    padding-bottom: 10px;
}


@media screen and (max-width: 769px) {
    .cards {
        flex-direction: column;
     }
     .card {
        max-width: none;
        margin-bottom: 10px;
        margin-right: 0px; 
        padding: 15px;
     }
     .card__content--special {
        flex-direction: unset;
        align-items: center;
     }
     .card__text {
        padding-top: 0px;
    }
     .card__content_block {
        display: flex;
        justify-content: space-between;
        align-items: center;
     }
     .card__text--small, .card__text--normal, span, .card__main_btn {
         display: none;
     }
     .card__title{
        font-weight: normal;
        padding: 0 0 0 10px;
        font-size: 18px;
     }
     .card__text--big {
        float: right;
        font-size: 18px;
     }
     .card__text--grey {
         font-size: 14px;
     }
     .button {
         display: none;
     }
}

